/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {

    /* Header height */
    --header-height: 3rem;

    /* === Colours === */
    --navy-blue: #1E3D58;
    --royal-blue: #057DCD;
    --blue-grotto: #43B0F1;
    --white: #E8EEF1;

    /*  === Font and Typography === */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-font: 3.5rem;
    --big-font-size: 1.25rem;
    --normal-font-size: .983rem;

    /* === Font weight === */
    --medium-bold: 500;
    --semi-bold: 600;

    /* === Z index (image position with text) === */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* === Header === */
.header{
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    height: 100px;
    width: 100%;
    position: fixed;
}

/* === Logo === */
.nav_logo {
    display: flex;
    width: 250px;
    height: 50px; 
}

/* === darkmode  === */
.moon {
    padding: 11px 20px;
    position: relative;
}

.darkmode {
    padding: 8px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: ease 0.5s;
    opacity: 0;
    outline: none;
    border: none;
    background-color: white;
}

.darkmode:hover {
    outline: none;
    border: none;
    background-color: white;
}

.moon:hover .darkmode {
    opacity: 1;
    background-color: white;
    
}

hr {
    color: black;
}

/* === Base elements === */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: white; */
}


body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: white

}

.wave {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.login_page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;
    padding: 0 2rem;
}

.img img{
    width: 500px;
    margin-top: 250px;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.avatar{
    width: 100px;
}

.login_container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 100px;
}

form {
    width: 360px;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;

}

.input_div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #717172;
}

.input_div.focus .i i {
    color: #43B0F1;
}

.input_div.focus div h5 {
    top: -5px;
    font-size: 15px;

}

.input_div::after, input_div::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #43B0F1;
    transition: 0.3s;
}

.input_div::after {
    right: 0%;
}

.input_div::before {
    left: 0%;
}

.input_div.focus::after, .input_div.focus::before {
    width: 100%;
}

.input_div.focus .i i {
    color: #43B0F1;
}

.input_div.focus div h5 {
    top: -5px;
    font-size: 15px;

}

.input_div.one {
    margin-top: 0;
}

.input_div.two {
    margin-bottom: 4px;
}

.i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i {
    color: #D6D6DB;
    transition: 0.3s;
}

.input_div > div {
    position: relative;
    height: 45px;
}

.input_div > div h5 {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #B4B4B6;
    font-size: 18px;
    transition: 0.5s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #444444;
    font-family: 'Poppins', sans-serif;
    
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}


a:hover {
    transition: 0.5s;
    color: #43B0F1;
}

.login_btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 50px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: var(--blue-grotto);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    text-transform: uppercase;
}

.login_btn:hover {
    transition: ease 0.5s;
    background-color: var(--royal-blue);
    color: white;
}

@media screen and (max-width: 1050px) {
    .login_page {
        gap: 5rem;
    }
    
}

@media screen and (max-width: 1000px) {
    form {
        width: 290px;
    }
    form h2 {
        font-size: 2.4;
        margin: 8px 0;
    }
    .img img {
        width: 400px;
    }
    
}

@media screen and (max-width: 900px) {
    .img {
        display: none;
    }
    .login_page {
        grid-template-columns: 1fr;
    }
    .wave {
        display: none;
    }
    .login_container {
        justify-content: center;
        margin-right: 90px;
    }
}