/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

:root {

    /* Header height */
    --header-height: 3rem;

    /* === Colours === */
    --navy-blue: #1E3D58;
    --royal-blue: #057DCD;
    --blue-grotto: #43B0F1;
    --white: #E8EEF1;

    /*  === Font and Typography === */
    --body-font: font-family: 'Poppins', sans-serif;
    --biggest-font-font: 3rem;
    --big-font-size: 1.25rem;
    --normal-font-size: .983rem;

    /* === Font weight === */
    --medium-bold: 500;
    --semi-bold: 600;

    /* === Z index (image position with text) === */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 2048px) {
    :root {
    --biggest-font-font: 5.5rem;
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
    width: 100%;
    }
}

/* === Header === */
.header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    height: 100px;
}

/* === Navigation === */
.nav_container {
    max-width: 2048px;
    height: var(--header-height);
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: var(--z-fixed);
}

/* === Logo === */
.nav_logo {
    display: flex;
    width: 250px;
    
}

.nav_link {
    color: black;
    font-weight: var(--medium-bold);
    font-family: var(--body-font);
}

.nav_item {
    display: inline-block;
}

/* === Base elements === */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}


body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--white);

}

h1,h2,h3,p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}



